@model AspNetMvcBlog.Models.Send

@{

    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="inner-banner has-base-color-overlay text-center" style="background: url(@Url.Content("/Content/Site/images/background/1.jpg);")">
    <div class="container">
        <div class="box">
            <h3>İletişim</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("Index", "Home")">Anasayfa</a>
                </li>
                <!-- comment for inline hack
                -->
                <li>
                    İletişim
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
        <div class="pull-right">
            <a href="#" class="get-qoute"><i class="fa fa-share"></i>Paylaş</a>
        </div><!-- /.pull-right -->
    </div><!-- /.container -->
</div>
<section class="contact_us">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="sec-title">
                    <h2>İletişim</h2>
                </div>
                <div class="default-form-area">
                    <form id="contact-form" name="contact_form" class="default-form" action="" method="post" novalidate="novalidate">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="form-group">

                                    @*<input type="text" name="form_name" class="form-control" value="" placeholder="Adınız *" required="" aria-required="true">*@
                                    @Html.TextBoxFor(m => m.Kim, new { @class = "form-control", @placeholder = "Ad Soyad" })
                                    @Html.ValidationMessageFor(m => m.Kim, "", new { @style = "color:red" })

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">

                                    @*<input type="text" name="form_email" class="form-control" value="" placeholder="Mail Adresi *" required="" aria-required="true">*@
                                    @Html.TextBoxFor(m => m.Kime, new { @class = "form-control", @placeholder = "E-Posta" })
                                    @Html.ValidationMessageFor(m => m.Kime, "", new { @style = "color:red" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">

                                    @*<input type="text" name="form_phone" class="form-control" value="" placeholder="Telefon ">*@
                                    @Html.DropDownListFor(m => m.UlkeId, (List<SelectListItem>)ViewBag.bag, new { @class = "form-control" })

                                    <br />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @*<input type="text" name="form_phone" class="form-control" value="" placeholder="Telefon ">*@
                                    @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control", @placeholder = "Telefon" })
                                    @Html.ValidationMessageFor(m => m.Telefon, "", new { @style = "color:red" })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @*<input type="text" name="form_phone" class="form-control" value="" placeholder="Telefon ">*@
                                    @Html.TextBoxFor(m => m.Konu, new { @class = "form-control", @placeholder = "Konu" })
                                    @Html.ValidationMessageFor(m => m.Konu, "", new { @style = "color:red" })
                                </div>
                            </div>
                           
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group>
                                    <input type="text" name="form_phone" class="form-control" value="" placeholder="Telefon ">
                                    @Html.TextAreaFor(m => m.Mesaj, new { @class = "form-control", @placeholder = "Mesajınız..." })
                                    @Html.ValidationMessageFor(m => m.Mesaj, "", new { @style = "color:red" })
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                    <button class="btn-style-one" type="submit" data-loading-text="Lütfen Bekleyin...">Gönder</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="sec-title">
                    <h2>Temasta Olun</h2>
                </div>
                <div class="text">
                    <p>Aşağıdaki adreslerden bize ulaşabilirsiniz.</p>
                </div>
                <br>
                <div class="default-cinfo">

                    <div class="acc-content collapsed">
                        <ul class="contact-infos">
                            <li>
                                <div class="icon_box">
                                    <i class="fa fa-map-marker"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <p><b>Adres:</b> <br> Sahrayicedit mah. Kadıköy/İSTANBUL</p>
                                </div><!-- /.text-box -->
                            </li>
                            <li>
                                <div class="icon_box">
                                    <i class="fa fa-phone"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <p><b>Telefon:</b> <br> +222 4444 88 999</p>
                                </div><!-- /.text-box -->
                            </li>
                            <li>
                                <div class="icon_box">
                                    <i class="fa fa-envelope"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <p><b>E-Posta:</b> <br>mail@info.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<script src="@Url.Action("~/Content/Site/js/jquery.js")"></script>*@
</section>
<div class="map-section">
    <div class="map-outer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2532.5929657042834!2d29.08378689889927!3d40.98635109386078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac7cbde3acf51%3A0xb81993cff569f1f6!2sToyota%20Plaza%20Nata%C5%9F!5e0!3m2!1str!2str!4v1579675299276!5m2!1str!2str" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $("#UlkeId").change(function () {
        var value = $('#UlkeId').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("TelefonKoduGetir","Contact")",
            data: {id:value},
            dataType: "json",
            success: function (result) {
                $("#Telefon").val(result);
                if (result != null) {
                    $("#Telefon").val(result);
                }
                else {
                    console.log("Kayıt bulunamadı");
                }
            }
        });
    });


</script>

